#dm-dock {
    background: #ddd;
    width: 250px;
    height: 600px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 10px 1px #333;
    -moz-box-shadow: 0px 0px 10px 1px #333;
    box-shadow: 0px 0px 10px 1px #333;
    border: 1px solid #aaa;
    overflow: hidden;
}
    #dm-dock h4 {
        margin: 0;
        padding: 7px;
        background: #aaa;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }
    #dm-dock div { padding: 3px; }
        #dm-dock fieldset { border: 1px solid #bbb; }
            #dm-dock legend { color: #555; padding: 0 5px; }

        #dm-dock ul { list-style: none; overflow: hidden; margin: 0; padding: 0; }
            #dm-dock li { float: left; }
                #dm-dock button { width: 30px; height: 30px; cursor: hand; cursor: pointer; }

        #dm-dock-styles {}
            #dm-dock-styles ul { overflow: auto; height: 370px; border: 1px inset #ddd; }
                #dm-dock-styles li { float: none; padding: 5px; cursor: hand; cursor: pointer; }
                #dm-dock-styles li:hover { background: #ccc; }