#dm-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    z-index: 910;
    display: none;

    /* For IE */
    _position: absolute;

    _top: expression(
                document.body.offsetTop +
                parseInt(document.documentElement.scrollTop, 10) + "px"
    );
}

#dm-overlay-modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #999;
    position: fixed;
    z-index: 920;
    display: none;

    /* For IE */
    _position: absolute;

    _top: expression(
                document.body.offsetTop +
                parseInt(document.documentElement.scrollTop, 10) + "px"
    );
}